# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter-specific ephemeral files
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Flutter/App.framework
ios/Flutter/engine/

android/.gradle/
android/local.properties
android/.idea/
android/app/app.iml
android/gradle/
android/gradlew
android/gradlew.bat

web/.dart_tool/
web/.packages
web/build/

windows/flutter/ephemeral/
windows/build/

linux/flutter/ephemeral/
linux/build/

macos/flutter/ephemeral/
macos/build/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

coverage/
